<!DOCTYPE html>
<html lang="en">
<head></head>
<body>
    <div id="content-wrapper">
        <!-- Anything outside #content element
             will be ignored by the single page app. -->
        <div id="content" class="login-page">
 
            <!-- MAIN CONTENT-->
            <section>
                <div class="container-fluid">
                    <div class="row login-wrap">
                        <div class="col-md-12 login-content">
                            <div class="login-logo">
                                <p class="login-title"><img class="img-login" src="images/icon/logo.png" alt="Veles"> Login to your Admin account</p>
                            </div>
                            <div class="login-form">
                                <form action="" method="post">
                                    <div class="form-group">
                                        <label>Email Address</label>
                                        <input class="au-input au-input--full" type="email" name="email" placeholder="Email">
                                    </div>
                                    <div class="form-group">
                                        <label>Password</label>
                                        <input class="au-input au-input--full" type="password" name="password" placeholder="Password">
                                    </div>
                                    <a href="download.en.html" type="submit" class="btn-login-width">
                                    <div class="button-effect btn-login">
                                        <span class="label">Login</span>
                                        <span class="icon">
                                        <span></span>
                                        </span>
                                        <span class="icon2"></span>
                                    </div>
                                </a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</body>

</html>
<!-- end document-->