<!DOCTYPE html>
<html lang="en">
<head></head>
<body>
    <div id="content-wrapper">
        <!-- Anything outside #content element
             will be ignored by the single page app. -->
        <div id="content" class="masternode-list-page">
 
            <!-- MAIN CONTENT-->
            <section>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <h2 class="title-1 m-b-25"><span class="grey">The </span>Masternode List</h2><br />
                            <div class="table-responsive table--no-card m-b-40">
                                <table class="table table-borderless table-striped table-masternode-list" id="mn_list">
                                    <thead>
                                        <tr class="header">
                                            <th>IP</th>
                                            <th>Services</th>
                                            <th>Status</th>
                                            <th>Api Version</th>
                                            <th>Api Latency</th>
                                            <th>Payee</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                                                                
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div> 

   

</body>
<script src="js/mnlist.js"></script>
<!-- DataTables-->
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
    <!-- Bootstrap JS-->

</html>
<!-- end document-->
