                <!-- MAIN CONTENT-->
                <section>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-12">
                                <h2 class="title-1 m-b-25"><span class="grey">The </span>Masternode List</h2><br />
                                <div class="table-responsive table--no-card m-b-40">
                                    <table class="table table-borderless table-striped table-masternode-list" id="mn_list">
                                        <thead>
                                            <tr class="header">
                                                <th>IP</th>
                                                <th>Services</th>
                                                <th>Status</th>
                                                <th>Api Version</th>
                                                <th>Api Latency</th>
                                                <th>Payee</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                                                                    
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row-grey">
                            <div class="tomottoWrap text-center" id="tomotto"><b> Veles Core Masternode Dashboard v{{app.version}}
                            </b></div>
                            <div class="row footer-links">
                                <div class="section col-md-3">
                                    <h5 class="footer-links-font">Website</h5> <a href="index.en.html">Home</a> <a href="download.en.html">Download</a> <a href="faq.en.html">FAQ</a> <a href="coin-specs.en.html">Coins-specs</a> <a href="whitepaper.en.html">Whitepaper</a> <a href="masternode-guide.en.html">Masternode guide</a> <a href="exchanges.en.html">Exchanges</a> <a href="external-services.en.html">External-services</a> <a href="crowdfundings.en.html">Crowdfundings</a> <a href="mining-pools.en.html">Mining-pools</a><a href="team.en.html">Team</a> <a href="roadmap.en.html">Roadmap</a></div>
                                <div class="section col-md-3">
                                            <h5 class="footer-links-font">Wallet</h5><a href="https://wallet.veles.network/">Home</a><a href="https://wallet.veles.network/#wallet">Login</a><a href="https://wallet.veles.network/#newAddress">New Address</a><a href="https://wallet.veles.network/#newSegWit">New SegWit</a><a href="https://wallet.veles.network/#newMultiSig">New MultiSig</a><a href="https://wallet.veles.network/#newTimeLocked">New TimeLocked</a><a href="https://wallet.veles.network/#newHDaddress">New HD Address</a><a href="https://wallet.veles.network/#newTransaction">New Transaction</a><a href="https://wallet.veles.network/#sign">Sign</a><a href="https://wallet.veles.network/#verify">Verify</a><a href="https://wallet.veles.network/#broadcast">Broadcast</a> </div>
                                <div class="section col-md-3">
                                    <h5 class="footer-links-font">Explorer</h5> <a href="https://explorer.veles.network/">Search</a> <a href="https://explorer.veles.network/richlist">Richlist</a> <a href="https://explorer.veles.network/masternodes">Masternodes</a> <a href="https://explorer.veles.network/movement">Movement</a>
                                    <a
                                    href="https://explorer.veles.network/miningstats">Mining-stats</a> <a href="https://explorer.veles.network/info">Api</a> </div>
                                <div class="section col-md-3">
                                    <h5 class="footer-links-font">Community</h5> <a href="https://twitter.com/velescore">Twitter</a> <a href="https://discord.gg/P528fGg">Discord</a> <a href="https://steemit.com/@velescore/">Steemit</a> <a href="https://bitcointalk.org/index.php?topic=5064523">Bitcointalk</a>                            <a href="https://www.coingecko.com/en/coins/veles">Coingecko</a> <a href="https://coinpaprika.com/coin/vls-veles/">Coinpaprika</a> <a href="https://coinmarketcap.com/currencies/veles/">Coinmarketcap</a> <a href="https://masternodecap.com/coins/VLS">Masternodecap</a>  </div>
                            </div>
                            <div class="footer-copyright text-center py-3">
                                © Copyright MMXVIII - {{app.copyright_year_roman}} The Veles Core developers.<br />
                                Quis custodiet ipsos custodes
                            </div>
                            <div class="footer-badges">
                                <img src="https://camo.githubusercontent.com/94196f0d2a07534cd6b6584cb9df02bdf4cee5db/68747470733a2f2f696d672e736869656c64732e696f2f6769746875622f72656c656173652f76656c6573636f72652f76656c65732e7376673f7374796c653d666f722d7468652d6261646765" alt="Latest Veles Core version">
                                <img src="images/contact-addr.svg" alt="Contact">
                            </div>
                        </div>
                    </div>
                </section>