                <section>
                    <div class="container-fluid">
                        <div class="row">
                        <div class="col-sm-12">
                            <div class="overview-wrap">
                                <h2 class="title-1">Service <span class="grey">Information</span></h2>
                            </div>
                        </div>
                            <div class="col-md-7">
                                <div class="dashboard-section">
                                    <h3 class="dashboard-text"><i class="zmdi zmdi-dns"></i> Masternode<span class="information-label-value" id="masternode-ip"> </span> information</h3>
                                    <p>Status: <span class="information-label-value" id="masternode-status-tab"> </span></p>
                                    <p class="no-overflow">Payee address: <span class="information-label-value" id="masternode-payee"> </span></p>
                                    <p class="no-overflow">Signing key: <span class="information-label-value" id="masternode-signing-key"> </span></p>
                                    <p>After-start output: <span class="information-label-value" id="masternode-launch-output"> </span></p>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="dashboard-section">
                                    <h3 class="dashboard-text"><i class="zmdi zmdi-share"></i> d-VPN information</h3>
                                    <p>Service status: <span class="information-label-value" id="dvpn-status-tab"> </span></p>
                                    <p>Server state: <span class="information-label-value" id="dvpn-server-state"> </span></p>
                                    <p>Server version: <span class="information-label-value" id="dvpn-server-version"> </span></p>
                                    <p>Service up since: <span class="information-label-value" id="dvpn-up-since"> </span></p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-7">
                                <div class="dashboard-section">
                                    <h3 class="dashboard-text"><i class="zmdi zmdi-layers"></i> Blockchain information</h3>
                                    <p>Nodes connected: <span class="information-label-value" id="blockchain-connections"> </span></p>
                                    <p>Latest block: <span class="information-label-value" id="blockchain-latest-block"> </span></p>
                                    <p>Minimum tx fee: <span class="information-label-value" id="blockchain-mininmum-fee"> </span> vlsats</p>
                                    <p>Blocks to next halving: <span class="information-label-value" id="blockchain-nex-halving"> </span></p>
                                    <p>Halving supply reached: <span class="information-label-value" id="blockchain-halving-reached"> </span> out of 80%</p>
                                    <p>Already halved: <span class="information-label-value" id="blockchain-halving-happend"> </span> times</p>
                                    <p class="no-overflow">Best blockhash: <span class="information-label-value no-overflow" id="blockchain-best-blockhash"> </span></p>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="dashboard-section">
                                    <h3 class="dashboard-text"><i class="zmdi zmdi-chart"></i> Traffic stats</h3>
                                    <div class="traffic-label">
                                        <h5 class="dashboard-text">Daily</h5>
                                        <p>Sent daily:<span class="information-label-value" id="dvpn-traffic-sent-daily">- </span></p>
                                        <p>Received daily:<span class="information-label-value convert-bytes" id="dvpn-traffic-received-daily"> </span></p>
                                    </div>
                                    <div class="traffic-label">
                                        <h5 class="dashboard-text">Hourly</h5>
                                        <p>Sent hourly:<span class="information-label-value" id="dvpn-traffic-sent-hourly"> </span></p>
                                        <p>Received hourly:<span class="information-label-value" id="dvpn-traffic-received-hourly"> </span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>